[MAIN]
ignore = commons.py, try.py

[MESSAGES CONTROL]
disable = too-few-public-methods,
          too-many-instance-attributes,
          unnecessary-lambda,
          unused-argument,
          global-statement
